h2 {
  text-align: center;
  margin: 10px;
  text-decoration: underline;
  color: #fff;
}

.cad_cliente {
  margin: 100px;
  margin-left: 150px;
  padding: 30px;
  border-radius: 18px;
  background-color: #0f0f0f;
  opacity: 0.6;
  color: #ffffff;
  display: inline-block;
  max-width: 960px;
  width: 960px;
}

.cad_cliente:hover {
  margin: 100px;
  margin-left: 150px;
  padding: 30px;
  border-radius: 18px;
  background-color: #0f0f0f;
  opacity: 0.9;
  color: #ffffff;
  display: inline-block;
  max-width: 960px;
  width: 960px;
}

.tamanho {
  max-width: 100px;
  border-radius: 4px;
}

.tamanho1 {
  max-width: 900px;
  width: 800px;
}

.tamanho2 {
  width: 450px;
}

label,
input {
  display: block;
  line-height: 30px;
  border-radius: 4px;
}
input {
  font-size: 1.5em;
}

button {
  cursor: pointer;
  padding: 5px;
  width: 100px;
  height: 40px;
  margin: 20px;
  margin-left: 0;
  border-radius: 4px;
  font-size: 1.2em;
  color: #000000;
  font-weight: bolder;
}
